<li class="padding">
  <div>
    <%= message.name %><br/>
    <%= message.created_at.strftime("%I:%M%p on %m/%d/%Y") %><br/>
    <%= message.contact %><br/>
    <%= message.body %>
    <%= button_to "Delete Message", message_path(message), data: {confirm: "Delete this message?"}, method: :delete %>
  </div>
</li>
