<h1 class="text-center padding">Contact page here</h1>

<p class="text-center padding">
<%= link_to "Send a message", '#', :class => "toggler_message" %>
</p>

<section class="text-center side-padding togglee_message hidden">
  <div class="form-inputs">
  <%= form_for [@message], remote: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
      </br>
    <%= f.label :contact %>
    <%= f.text_field :contact %>
      </br>
    <%= f.label :body, 'Message' %>
    <%= f.text_area :body, size: "5x5" %>
    <p style="color: #9FA8A3;">All fields required.</p>
    <%= f.submit "Send Message" %>
  <% end %>
  </div>
</section>
