<div class="row small-12 columns small-centered text-center">

  <div class="small-10 columns small-centered text-center">

    <br/>

    <!-- <h5 class="googlefont1"><%= @page.name %></h5>

    <br/> -->

    <div class="padding">

      <% if @previousPage %>
        <a class="googlefont1 direction-link side-padding" href="/books/<%= @book.id %>/pages/<%= @previousPage.id %>">previous</a>
      <% end %>

      <% if @nextPage %>
        <a class="googlefont1 direction-link side-padding" href="/books/<%= @book.id %>/pages/<%= @nextPage.id %>">next</a>
      <% end %>

    </div>

    <img class="individual-image-display" src="<%= @page.avatar.url %>"/>

    <div class="padding">

      <% if @previousPage %>
        <a class="googlefont1 direction-link side-padding" href="/books/<%= @book.id %>/pages/<%= @previousPage.id %>">previous</a>
      <% end %>

      <% if @nextPage %>
        <a class="googlefont1 direction-link side-padding" href="/books/<%= @book.id %>/pages/<%= @nextPage.id %>">next</a>
      <% end %>

    </div>

    <br/>

  </div>

</div>
