<li class="padding">
  <a href="/books/<%= book.id %>">
  <%= book.name %>
  </a>
  <br/>
  <%= book.summary %>
  <br/>
  <img class="admin-book-display" src="<%= book.avatar.url %>"/>
  <%= button_to "Edit Title / Cover Photo / Summary of Gallery ", edit_book_path(book), :method => "get" %>
  <%= button_to "Delete Gallery", book_path(book), data: {confirm: "Delete Gallery?"}, method: :delete %>
</li>
