<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="row" style="min-height: 30em">

<% if admin_signed_in? %>

<div class="padding small-12 columns">

  <div class="small-10 medium-7 small-centered">

  <h3>Galleries:</h3>

  <section>
    <ol>
      <%= render @books %>
    </ol>
  </section>


  <p><strong>Photo Dimensions:</strong></p>
  <p>7 x 2 for banner photos</p>
  <p>7 x 3 for gallery photos</p>

  <p>
    <%= link_to "Create a New Gallery", '#', :class => "toggler_book" %>
  </p>

  <section class="togglee_book hidden">
    <div class="small-12 small-centered">
    <%= form_for [@book], remote: true do |f| %>
      <%= f.label :name, 'Title' %>
      <%= f.text_field :name %>
        </br>
      <%= f.label :summary, 'Summary' %>
      <%= f.text_area :summary, size: "5x5" %>
        </br>
      <%= f.label :avatar, 'Cover Image' %>
      <%= f.file_field :avatar %>
        </br>
      <%= f.submit "Create Gallery" %>
    <% end %>
    </div>
  </section>

  <br/><br/>

  <h3>Messages:</h3>

  <section>
    <ol>
      <%= render @messages %>
    </ol>
  </section>

  </div>

</div>

<% else %>

<h1>Must be logged in to view content.</h1>

<% end %>

</div>
