<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<% if admin_signed_in? %>

<h1><%= @book.name %></h1>

</br>

<section id="pages-section">
  <ol id="pages">
    <%= render @pages %>
  </ol>
</section>

</br>

<p>
<%= link_to "Add Page to Book", '#', :class => "toggler_page" %>
</p>

<section class="togglee_page hidden">
  <div class="form-inputs">
    <%= form_for [@book, @page], remote: true do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
        </br>
      <%= f.label :avatar, 'Image' %>
      <%= f.file_field :avatar %>
        </br>
      <%= f.hidden_field(:book_id, :value => @book.id) %>
      <%= f.submit "Add Page to Book" %>
    <% end %>
  </div>
</section>

</br>
<h3><%= link_to "Gallery Index", books_path %></h3>

<% end %>
