<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="row">

<div class="small-12 columns padding">

<div class="small-10 small-centered medium-7">

<% if admin_signed_in? %>

<br/>

<div class="pad-top side-padding">
  <h2><%= @book.name %></h2>
  <img class="admin-book-display" src="<%= @book.avatar.url %>"/>
</div>

</br>

<section id="pages-section">
  <ol id="pages" class="side-padding">
    <%= render @pages %>
  </ol>
</section>

</br>

<p>
<%= link_to "Add Page to Book", '#', :class => "toggler_page" %>
</p>

<section class="togglee_page hidden">
  <div class="small-12 small-centered">
    <%= form_for [@book, @page], remote: true do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :avatar, 'Image' %>
      <%= f.file_field :avatar %>
        </br>
      <%= f.hidden_field(:book_id, :value => @book.id) %>
      <%= f.submit "Add Page to Book" %>
    <% end %>
  </div>
</section>

</br>
<h4><%= link_to "Back to Admin Page", books_path %></h4>

<% end %>

</div>

</div>

</div>
